@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300;
  }
  
  .section-title {
    @apply text-3xl font-bold text-center mb-8 text-pink-800;
  }
}

.judul {
  @apply sm:text-lg text-sm text-center text-[#AD9052] mb-2 font-dmsans uppercase tracking-[8px];
}

.sub-deskripsi {
  @apply font-crimson text-center text-black/70 max-w-2xl mx-auto text-lg
}

.judul-admin {
 @apply text-2xl sm:text-4xl font-medium font-crimson
}

.subjudul {
  @apply sm:text-5xl text-3xl font-light text-center text-[black] mb-2 font-cormorant;
}

.subjudul-admin {
  @apply sm:text-xl text-lg font-crimson font-light
}

.subjudul2 {
  @apply sm:text-5xl text-3xl text-center font-semibold italic text-[black] font-cormorant ;
}

body {
  @apply font-chenla;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
